<p id="notice"><%= notice %></p>

<p>
  <strong>Stuff:</strong>
  <%= @stockstatus.stuff %>
</p>

<%= link_to 'Edit', edit_stockstatus_path(@stockstatus) %> |
<%= link_to 'Back', stockstatuses_path %>
